# ==========================================
# 3. Credenciais de Banco de Dados e Segredos
# ==========================================
# NUNCA envie senhas do seu banco para o repositório!
.env
.env.local
.env.development
application-dev.properties
application-secret.yml
secrets.json
db_credentials.xml

# ==========================================
# 4. Logs e Arquivos do Sistema Operacional
# ==========================================
*.log
.DS_Store
Thumbs.db
